{% extends 'base.html.twig' %}

{% block title %}Partenaire index{% endblock %}

{% block body %}
{% block content %}
    <h1>Partenaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdPart</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Logo</th>
                <th>Rib</th>
                <th>Tel</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partenaire in partenaires %}
            <tr>
                <td>{{ partenaire.idPart }}</td>
                <td>{{ partenaire.nom }}</td>
                <td>{{ partenaire.adresse }}</td>
                <td>{{ partenaire.logo }}</td>
                <td>{{ partenaire.rib }}</td>
                <td>{{ partenaire.tel }}</td>
                <td>{{ partenaire.status }}</td>
                <td>
                    <a href="{{ path('partenaire_show', {'idPart': partenaire.idPart}) }}">show</a>
                    <a href="{{ path('partenaire_edit', {'idPart': partenaire.idPart}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('partenaire_new') }}">Create new</a>
{% endblock %}
{% endblock %}
