{% extends 'base.html.twig' %}

{% block title %}Partenaire{% endblock %}

{% block body %}
{% block content %}
    <h1>Partenaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdPart</th>
                <td>{{ partenaire.idPart }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ partenaire.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ partenaire.adresse }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ partenaire.logo }}</td>
            </tr>
            <tr>
                <th>Rib</th>
                <td>{{ partenaire.rib }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ partenaire.tel }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ partenaire.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('partenaire_index') }}">back to list</a>

    <a href="{{ path('partenaire_edit', {'idPart': partenaire.idPart}) }}">edit</a>

    {{ include('partenaire/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}
