{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
{% block content %}
    <h1>Participant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdParticipation</th>
                <th>Ticket</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.idParticipation }}</td>
                <td>{{ participant.ticket }}</td>
                <td>
                    <a href="{{ path('participant_show', {'idParticipation': participant.idParticipation}) }}">show</a>
                    <a href="{{ path('participant_edit', {'idParticipation': participant.idParticipation}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('participant_new') }}">Create new</a>
{% endblock %}
{% endblock %}
