{% extends 'base.html.twig' %}

{% block title %}Label index{% endblock %}

{% block body %}
{% block content %}
    <h1>Label index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Imagelabel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for label in labels %}
            <tr>
                <td>{{ label.id }}</td>
                <td>{{ label.name }}</td>
                <td>{{ label.type }}</td>
                <td>{{ label.imagelabel }}</td>
                <td>
                    <a href="{{ path('label_show', {'id': label.id}) }}">show</a>
                    <a href="{{ path('label_edit', {'id': label.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('label_new') }}">Create new</a>
{% endblock %}
{% endblock %}
