{% extends 'base.html.twig' %}

{% block title %}Feedback index{% endblock %}

{% block body %}
{% block content %}
    <h1>Feedback index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdFeedback</th>
                <th>ContenuFeedback</th>
                <th>TypeFeedback</th>
                <th>EtatFeedback</th>
                <th>DateFeedback</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feedback in feedback %}
            <tr>
                <td>{{ feedback.idFeedback }}</td>
                <td>{{ feedback.contenuFeedback }}</td>
                <td>{{ feedback.typeFeedback }}</td>
                <td>{{ feedback.etatFeedback }}</td>
                <td>{{ feedback.dateFeedback ? feedback.dateFeedback|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('feedback_show', {'idFeedback': feedback.idFeedback}) }}">show</a>
                    <a href="{{ path('feedback_edit', {'idFeedback': feedback.idFeedback}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('feedback_new') }}">Create new</a>
{% endblock %}
{% endblock %}
