{% extends 'base.html.twig' %}

{% block title %}Edit Annonce{% endblock %}


{% block content %}
    <h1>Edit Annonce</h1>

<div id="content-page" class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-11">
                <div class="iq-card" >
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Edit my job offer</h4>
                            <ul class="d-flex align-items-center justify-content-between list-inline m-0 p-0">
                                <h4 class="card-title">{{ annonce.titreAnn }}</h4>
                                <li>
                                    <button style="position: absolute; top:10px; left: 700px; " class="btn btn-primary" type="button" id="btn1">Get job offer QR code</button>
                                    <div id="imgDiv">
                                        <p><img class="img-scale2" style="position: absolute; top:45px; left: 785px; " src="{{ qr_code_path('Job offer title:  ' ~ annonce.titreAnn  ~'\nDescription:  ' ~ annonce.descAnn   ~'\nSalary in TND:  ' ~ annonce.pay   ) }}"  width="8%" height="auto"   border="0"></p>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="iq-card-body">
    {{ include('annonce/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('annonce_index') }}">back to list</a>

    {{ include('annonce/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    </div>
{% endblock %}
