{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
{% block content %}
    <h1>Evenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>NomEvent</th>
                <th>Description</th>
                <th>CapaciteEvent</th>
                <th>NbMax</th>
                <th>ImageEvent</th>
                <th>LocationEvent</th>
                <th>RatingEvent</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.nomEvent }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.capaciteEvent }}</td>
                <td>{{ evenement.nbMax }}</td>
                <td>{{ evenement.imageEvent }}</td>
                <td>{{ evenement.locationEvent }}</td>
                <td>{{ evenement.ratingEvent }}</td>
                <td>
                    <a href="{{ path('evenement_show', {'id': evenement.id}) }}">show</a>
                    <a href="{{ path('evenement_edit', {'id': evenement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evenement_new') }}">Create new</a>
{% endblock %}
{% endblock %}
