{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}


{% block content %}
    <!-- Page Content  -->


    <div id="content-page" class="content-page">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 row m-0 p-0">
                    <div class="iq-card-header-toolbar d-flex align-items-center">
                        <div class="dropdown">




                            <form  id="CatForm" method="post" action="{{ path('evenement_cat')}}" >
                            <select id="selectDo" class="btn btn-primary d-block w-100 mt-3"  style="" onchange="myFunction(event); this.form.submit(); "  >
                                <option value="" disabled selected>Choose genre..</option>
                                {% for c in categories %}
                                <option class="dropdown-item"  onclick="document.getElementById('CatForm').submit();" ><i class="ri-eye-fill mr-2"></i>{{ c.categorieName}}</option>

                                {% endfor %}
                                <input  type="hidden" name="myText" id="myText" type="text" value="colors">



                                <script>function myFunction(e) {
                                document.getElementById("myText").value = e.target.value
                                    } </script>

                            </select>
                            </form>
                        </div>
                        <div class="dropdown">

                                 <span style="position: absolute; top: 0px; left: 400px; " class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false" role="button">
                                   Filter by
                                     <i class="ri-more-fill"></i>

                                 </span>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="">
                                <a class="dropdown-item" href="{{ path('evenement_Upcoming') }}"><i class="ri-eye-fill mr-2"></i>Upcoming</a>
                                <a class="dropdown-item" href="{{ path('evenement_HasPassed') }}"><i class="ri-eye-fill mr-2"></i>Has Passed</a>
                                <a class="dropdown-item" href="{{ path('evenement_Today') }}"><i class="ri-eye-fill mr-2"></i>Today</a>
                                <a class="dropdown-item" href="{{ path('evenement_ThisWeek') }}"><i class="ri-eye-fill mr-2"></i>This Week</a>
                                <a class="dropdown-item" href="{{ path('evenement_ThisMonth') }}"><i class="ri-eye-fill mr-2"></i>This Month</a>
                                <a class="dropdown-item" href="{{ path('evenement_index') }}"><i class="ri-eye-fill mr-2"></i>Reset</a>
                            </div>
                        </div>
                        <div class="dropdown">

                                 <span style="position: absolute; top: -20px; left: 400px; " class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false" role="button">
                                   Sort By
                                     <i class="ri-more-fill"></i>

                                 </span>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="">
                                <a class="dropdown-item" href="{{ path('evenement_triAlphabetical') }}"><i class="ri-eye-fill mr-2"></i>Alphabetical</a>
                                <a class="dropdown-item" href="{{ path('evenement_triDate') }}"><i class="ri-eye-fill mr-2"></i>Happening Soon</a>
                                <a class="dropdown-item" href="{{ path('evenement_triTrending') }}"><i class="ri-eye-fill mr-2"></i>Trending</a>
                                <a class="dropdown-item" href="{{ path('evenement_triOrganizer') }}"><i class="ri-eye-fill mr-2"></i>Organizer</a>
                                <a class="dropdown-item" href="{{ path('evenement_index') }}"><i class="ri-eye-fill mr-2"></i>Reset</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-12">
                        <form action="{{ path('evenement_new') }}">

                        <button  type="submit" class="btn btn-primary d-block w-100 mt-3">Host An Event</button>
                        </form>
                    </div>







                    <!-- EventBox -->
                    {% for evenement in evenements %}

                        <div class="col-sm-12">
                            <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                                <div class="iq-card-body">

                                    <div class="user-post-data">

                                        <div class="d-flex flex-wrap">
                                            <div class="container1">
                                                <img src="{{ asset('imagesCategorie/')~ evenement.categorie.categorieImage ~''}}" class="image1" margin-right="0"  overflow="visible" alt="{{evenement.categorie}}">
                                                <div class="overlay1">
                                                    <div >{{ evenement.categorie }}</div>
                                                </div>
                                            </div>
                                            <div  class="media-support-user-img mr-3">

                                                <img class="rounded-circle img-fluid" src="{{ asset('images/user/03.jpg') }}" alt="">
                                            </div>
                                            <div class="media-support-info mt-2">
                                                <h5 class="mb-0 d-inline-block"><a href="#" class="">{{ evenement.idOrg}}</a></h5>
                                                <a href="{{ path('evenement_show', {'id': evenement.id}) }}"  class="mb-0 d-inline-block">{{'Is Hosting ' ~ evenement.nomEvent}}</a>

                                            </div>
                                            <div class="iq-card-post-toolbar">
                                                <div class="dropdown">
                                          <span class="dropdown-toggle" id="postdata-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                          <i class="ri-more-fill"></i>
                                          </span>
                                                    <div class="dropdown-menu m-0 p-0" aria-labelledby="postdata-5">
                                                        <a class="dropdown-item p-3" href="#">
                                                            <div class="d-flex align-items-top">
                                                                <div class="icon font-size-20"><i class="ri-save-line"></i></div>
                                                                <div class="data ml-2">
                                                                    <h6>Save Post</h6>
                                                                    <p class="mb-0">Add this to your saved items</p>
                                                                </div>
                                                            </div>
                                                        </a>

                                                        <a class="dropdown-item p-3" href="#">
                                                            <form  id="myform" method="post" action="{{ path('evenement_delete', {'id': evenement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">
                                                            <div class="d-flex align-items-top">
                                                                <div onclick="document.getElementById('myform').submit();" type="submit" class="icon font-size-20"><i class="ri-close-circle-line"></i></div>

                                                                <div class="data ml-2">

                                                                    <h6  onclick="document.getElementById('myform').submit();">Delete Post </h6>


                                                                </div>

                                                            </div>
                                                            </form>
                                                        </a>

                                                        <a class="dropdown-item p-3" href="#">
                                                            <div class="d-flex align-items-top">
                                                                <div class="icon font-size-20"><i class="ri-user-unfollow-line"></i></div>
                                                                <div class="data ml-2">
                                                                    <h6>Unfollow User</h6>
                                                                    <p class="mb-0">Stop seeing posts but stay friends.</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a class="dropdown-item p-3" href="#">
                                                            <div class="d-flex align-items-top">
                                                                <div class="icon font-size-20"><i class="ri-notification-line"></i></div>
                                                                <div class="data ml-2">
                                                                    <h6>Notifications</h6>
                                                                    <p class="mb-0">Turn on notifications for this post</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <p href="{{ path('evenement_show', {'id': evenement.id}) }}">{{ evenement.description }}</p>
                                    </div>
                                    <div  class="user-post">
                                        <a href="javascript:void();"><img src="{{ asset('imagesEvent/')~ evenement.imageEvent ~''}}"  overflow="visible" alt="post-image" class="img-scale rounded w-100"></a>
                                    </div>
                                    <div class="iq-card-body text-center">
                                        <div class="group-details d-inline-block pb-3">
                                            <ul class="d-flex align-items-center justify-content-between list-inline m-0 p-0">

                                                    <ul class="d-flex align-items-center justify-content-between list-inline m-0 p-0">
                                                        <img width="20%" height="auto" src="{{ asset('javaicons/location.png')}}" >
                                                        <p class="mb-0">Event Location</p>
                                                    </ul>

                                                    <h6>{{  evenement.locationEvent }}</h6>
                                                </li>
                                                <li class="pl-1 pr-1">
                                                    <ul class="d-flex align-items-center justify-content-between list-inline m-0 p-0">
                                                        <img width="20%" height="auto" src="{{ asset('javaicons/calendar.png')}}" >
                                                        <p class="mb-0">Event Date</p>
                                                    </ul>
                                                    <h6>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</h6>
                                                </li>
                                                <li class="pl-1 pr-1">
                                                    <ul class="d-flex align-items-center justify-content-between list-inline m-0 p-0">
                                                        <img width="20%" height="auto" src="{{ asset('javaicons/icons8_Person_32px.png')}}" >
                                                        <p class="mb-0">Event Capacity</p>
                                                    </ul>
                                                    <h6>{{ evenement.capaciteEvent }}</h6>
                                                </li>


                                            </ul>
                                        </div>
                                    </div>

                                    <div class="comment-area mt-3">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="like-block position-relative d-flex align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <div class="like-data">
                                                        <div class="dropdown">
                                                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                <img src="{{ asset('images/icon/14.png') }}" class="img-fluid" alt="Join">
                                                </span>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="#" >Join</a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="total-like-block ml-2 mr-3">
                                                        <div class="dropdown">
                                                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                {{ evenement.nbMax-evenement.capaciteEvent }} People going
                                                </span>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="#">Max Emum</a>
                                                                <a class="dropdown-item" href="#">Bill Yerds</a>
                                                                <a class="dropdown-item" href="#">Hap E. Birthday</a>
                                                                <a class="dropdown-item" href="#">Tara Misu</a>
                                                                <a class="dropdown-item" href="#">Midge Itz</a>
                                                                <a class="dropdown-item" href="#">Sal Vidge</a>
                                                                <a class="dropdown-item" href="#">Other</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="total-comment-block">
                                                    <div class="dropdown">
                                             <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                             20 Comment
                                             </span>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">Max Emum</a>
                                                            <a class="dropdown-item" href="#">Bill Yerds</a>
                                                            <a class="dropdown-item" href="#">Hap E. Birthday</a>
                                                            <a class="dropdown-item" href="#">Tara Misu</a>
                                                            <a class="dropdown-item" href="#">Midge Itz</a>
                                                            <a class="dropdown-item" href="#">Sal Vidge</a>
                                                            <a class="dropdown-item" href="#">Other</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="share-block d-flex align-items-center feather-icon mr-3">
                                                <a href="javascript:void();"><i class="ri-share-line"></i>
                                                    <span class="ml-1">99 Share</span></a>
                                            </div>
                                        </div>
                                        <hr>
                                        <ul class="post-comments p-0 m-0">
                                            <li class="mb-2">
                                                <div class="d-flex flex-wrap">
                                                    <div class="user-img">
                                                        <img src="{{ asset('images/user/02.jpg') }}" alt="userimg" class="avatar-35 rounded-circle img-fluid">
                                                    </div>
                                                    <div class="comment-data-block ml-3">
                                                        <h6>Monty Carlo</h6>
                                                        <p class="mb-0">Lorem ipsum dolor sit amet</p>
                                                        <div class="d-flex flex-wrap align-items-center comment-activity">
                                                            <a href="javascript:void();">like</a>
                                                            <a href="javascript:void();">reply</a>
                                                            <a href="javascript:void();">translate</a>
                                                            <span> 5 min </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex flex-wrap">
                                                    <div class="user-img">
                                                        <img src="{{ asset('images/user/03.jpg') }}" alt="userimg" class="avatar-35 rounded-circle img-fluid">
                                                    </div>
                                                    <div class="comment-data-block ml-3">
                                                        <h6>Paul Molive</h6>
                                                        <p class="mb-0">Lorem ipsum dolor sit amet</p>
                                                        <div class="d-flex flex-wrap align-items-center comment-activity">
                                                            <a href="javascript:void();">like</a>
                                                            <a href="javascript:void();">reply</a>
                                                            <a href="javascript:void();">translate</a>
                                                            <span> 5 min </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <form class="comment-text d-flex align-items-center mt-3" action="javascript:void(0);">
                                            <input type="text" class="form-control rounded">
                                            <div class="comment-attagement d-flex">
                                                <a href="javascript:void();"><i class="ri-link mr-3"></i></a>
                                                <a href="javascript:void();"><i class="ri-user-smile-line mr-3"></i></a>
                                                <a href="javascript:void();"><i class="ri-camera-line mr-3"></i></a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
                <!-- EventBox -->
                </div>

                <div class="col-lg-4">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Stories</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <ul class="media-story m-0 p-0">
                                <li class="d-flex mb-4 align-items-center">
                                    <i class="ri-add-line font-size-18"></i>
                                    <div class="stories-data ml-3">
                                        <h5>Creat Your Story</h5>
                                        <p class="mb-0">time to story</p>
                                    </div>
                                </li>
                                <li class="d-flex mb-4 align-items-center active">
                                    <img src="{{ asset('images/page-img/s2.jpg') }}" alt="story-img" class="rounded-circle img-fluid">
                                    <div class="stories-data ml-3">
                                        <h5>Anna Mull</h5>
                                        <p class="mb-0">1 hour ago</p>
                                    </div>
                                </li>
                                <li class="d-flex mb-4 align-items-center">
                                    <img src="{{ asset('images/page-img/s3.jpg') }}" alt="story-img" class="rounded-circle img-fluid">
                                    <div class="stories-data ml-3">
                                        <h5>Ira Membrit</h5>
                                        <p class="mb-0">4 hour ago</p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <img src="{{ asset('images/page-img/s1.jpg') }}" alt="story-img" class="rounded-circle img-fluid">
                                    <div class="stories-data ml-3">
                                        <h5>Bob Frapples</h5>
                                        <p class="mb-0">9 hour ago</p>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-primary d-block mt-3">See All</a>
                        </div>
                    </div>
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Events</h4>
                            </div>
                            <div class="iq-card-header-toolbar d-flex align-items-center">
                                <div class="dropdown">
                                 <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false" role="button">
                                 <i class="ri-more-fill"></i>
                                 </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="">
                                        <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                                        <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                        <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                        <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                                        <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <ul class="media-story m-0 p-0">
                                <li class="d-flex mb-4 align-items-center ">
                                    <img src="{{ asset('images/page-img/s4.jpg') }}" alt="story-img" class="rounded-circle img-fluid">
                                    <div class="stories-data ml-3">
                                        <h5>Web Workshop</h5>
                                        <p class="mb-0">1 hour ago</p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <img src="{{ asset('images/page-img/s5.jpg') }}" alt="story-img" class="rounded-circle img-fluid">
                                    <div class="stories-data ml-3">
                                        <h5>Fun Events and Festivals</h5>
                                        <p class="mb-0">1 hour ago</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Upcoming Birthday</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <ul class="media-story m-0 p-0">
                                <li class="d-flex mb-4 align-items-center">
                                    <img src="{{ asset('images/user/01.jpg') }}" alt="story-img" class="rounded-circle img-fluid">
                                    <div class="stories-data ml-3">
                                        <h5>Anna Sthesia</h5>
                                        <p class="mb-0">Today</p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <img src="{{ asset('images/user/02.jpg') }}" alt="story-img" class="rounded-circle img-fluid">
                                    <div class="stories-data ml-3">
                                        <h5>Paul Molive</h5>
                                        <p class="mb-0">Tomorrow</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Suggested Pages</h4>
                            </div>
                            <div class="iq-card-header-toolbar d-flex align-items-center">
                                <div class="dropdown">
                                 <span class="dropdown-toggle" id="dropdownMenuButton01" data-toggle="dropdown" aria-expanded="false" role="button">
                                 <i class="ri-more-fill"></i>
                                 </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton01" style="">
                                        <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                                        <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                        <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                        <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                                        <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <ul class="suggested-page-story m-0 p-0 list-inline">
                                <li class="mb-3">
                                    <div class="d-flex align-items-center mb-3">
                                        <img src="{{ asset('images/page-img/42.png') }}" alt="story-img" class="rounded-circle img-fluid avatar-50">
                                        <div class="stories-data ml-3">
                                            <h5>Iqonic Studio</h5>
                                            <p class="mb-0">Lorem Ipsum</p>
                                        </div>
                                    </div>
                                    <img src="{{ asset('images/small/img-1.jpg') }}" class="img-fluid rounded" alt="Responsive image">
                                    <div class="mt-3"><a href="#" class="btn d-block"><i class="ri-thumb-up-line mr-2"></i> Like Page</a></div>
                                </li>
                                <li class="">
                                    <div class="d-flex align-items-center mb-3">
                                        <img src="{{ asset('images/page-img/42.png') }}" alt="story-img" class="rounded-circle img-fluid avatar-50">
                                        <div class="stories-data ml-3">
                                            <h5>Cakes & Bakes </h5>
                                            <p class="mb-0">Lorem Ipsum</p>
                                        </div>
                                    </div>
                                    <img src="{{ asset('images/small/img-2.jpg') }}" class="img-fluid rounded" alt="Responsive image">
                                    <div class="mt-3"><a href="#" class="btn d-block"><i class="ri-thumb-up-line mr-2"></i> Like Page</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <img src="{{ asset('images/page-img/page-load-loader.gif') }}" alt="loader" style="height: 100px;">
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
