{% extends 'base.html.twig' %}

{% block title %}Interactions index{% endblock %}

{% block body %}
{% block content %}
    <h1>Interactions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdInter</th>
                <th>LikeCheck</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for interaction in interactions %}
            <tr>
                <td>{{ interaction.idInter }}</td>
                <td>{{ interaction.likeCheck }}</td>
                <td>
                    <a href="{{ path('interactions_show', {'idInter': interaction.idInter}) }}">show</a>
                    <a href="{{ path('interactions_edit', {'idInter': interaction.idInter}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('interactions_new') }}">Create new</a>
{% endblock %}
{% endblock %}
