{% extends 'back.html.twig' %}

{% block title %}Postes{% endblock %}


{% block content %}
    <h1>Postes</h1>

    {% if poste.categorie == 'Photography' %}
    <div class="col-sm-12">
        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
            <div class="iq-card-body">
                <div class="user-post-data">
                    <div class="d-flex flex-wrap">

                        <div class="media-support-info mt-2">

                            <h5 class="mb-0 d-inline-block"><a href="#" class="">{{ poste.idUser}}</a></h5>
                            <p class="mb-0 d-inline-block">add new post</p>
                            <p class="mb-0 d-inline-block">{{~ poste.nomPost}}</p>
                            <div class="share-block d-flex align-items-center feather-icon mr-3">
                                <a href="javascript:void();"><i class="ri-time-line"></i>

                                    {% set difference =  date().diff(date(poste.postDate)) %}
                                    {% set leftDays = difference.days %}

                                    {% if leftDays >7 %}
                                    <span class="ml-1">{{ poste.postDate ? poste.postDate|date('F d \\a\\t g:i ') : '' }}</span></a>
                                {% elseif leftDays > 1 and leftDays < 7 %}
                                    <span class="ml-1">{{ leftDays }} days ago </span></a>




                                {% endif%}


                            </div>
                        </div>
                        <div class="iq-card-post-toolbar">
                            <div class="dropdown">
                                          <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                          <i class="ri-more-fill"></i>
                                          </span>
                                <div class="dropdown-menu m-0 p-0">
                                    <a class="dropdown-item p-3" href="#">
                                        <div class="d-flex align-items-top">
                                            <div class="icon font-size-20"><i class="ri-save-line"></i></div>
                                            <div class="data ml-2">
                                                <h6>Save Post</h6>
                                                <p class="mb-0">Add this to your saved items</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item p-3" href="#">
                                        <div class="d-flex align-items-top">
                                            <div class="icon font-size-20"><i class="ri-close-circle-line"></i></div>
                                            <div class="data ml-2">
                                                <h6>Hide Post</h6>
                                                <p class="mb-0">See fewer posts like this.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item p-3" href="#">
                                        <div class="d-flex align-items-top">
                                            <div class="icon font-size-20"><i class="ri-user-unfollow-line"></i></div>
                                            <div class="data ml-2">
                                                <h6>Unfollow User</h6>
                                                <p class="mb-0">Stop seeing posts but stay friends.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item p-3" href="#">
                                        <div class="d-flex align-items-top">
                                            <div class="icon font-size-20"><i class="ri-notification-line"></i></div>
                                            <div class="data ml-2">
                                                <h6>Notifications</h6>
                                                <p class="mb-0">Turn on notifications for this post</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <p>{{ poste.description }}</p>
                </div>
                <div class="user-post">
                    <a href="javascript:void();"><img src="{{ asset('Postes/')~ poste.file ~''}}"  alt="post-image" class="img-fluid rounded w-100"></a>

                </div>
                <div class="comment-area mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="like-block position-relative d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="like-data">
                                    <div class="dropdown">
                                                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                <img src="{{ asset('images/icon/01.png')}}" class="img-fluid" alt="">
                                                </span>
                                        <div class="dropdown-menu">
                                            <a class="ml-2 mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like"><img src="{{ asset('images/icon/01.png')}}" class="img-fluid" alt=""></a>
                                            <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Love"><img src="{{ asset('images/icon/02.png')}}" class="img-fluid" alt=""></a>
                                            <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Happy"><img src="{{ asset('images/icon/03.png')}}" class="img-fluid" alt=""></a>
                                            <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="HaHa"><img src="{{ asset('images/icon/04.png')}}" class="img-fluid" alt=""></a>
                                            <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Think"><img src="{{ asset('images/icon/05.png')}}" class="img-fluid" alt=""></a>
                                            <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sade"><img src="{{ asset('images/icon/06.png')}}" class="img-fluid" alt=""></a>
                                            <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Lovely"><img src="{{ asset('images/icon/07.png')}}" class="img-fluid" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="total-like-block ml-2 mr-3">
                                    <div class="dropdown">
                                                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                <p class="mb-0 d-inline-block">{{'' ~ poste.likes}}</p>
                                                </span>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Max Emum</a>
                                            <a class="dropdown-item" href="#">Bill Yerds</a>
                                            <a class="dropdown-item" href="#">Hap E. Birthday</a>
                                            <a class="dropdown-item" href="#">Tara Misu</a>
                                            <a class="dropdown-item" href="#">Midge Itz</a>
                                            <a class="dropdown-item" href="#">Sal Vidge</a>
                                            <a class="dropdown-item" href="#">Other</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="total-comment-block">
                                <div class="dropdown">
                                             <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                             20 Comment
                                             </span>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Max Emum</a>
                                        <a class="dropdown-item" href="#">Bill Yerds</a>
                                        <a class="dropdown-item" href="#">Hap E. Birthday</a>
                                        <a class="dropdown-item" href="#">Tara Misu</a>
                                        <a class="dropdown-item" href="#">Midge Itz</a>
                                        <a class="dropdown-item" href="#">Sal Vidge</a>
                                        <a class="dropdown-item" href="#">Other</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <ul class="post-comments p-0 m-0">
                        <li class="mb-2">
                            <div class="d-flex flex-wrap">
                                <div class="user-img">
                                    <img src="{{ asset('images/user/02.jpg')}}" alt="userimg" class="avatar-35 rounded-circle img-fluid">
                                </div>
                                <div class="comment-data-block ml-3">
                                    <h6>Monty Carlo</h6>
                                    <p class="mb-0">Lorem ipsum dolor sit amet</p>
                                    <div class="d-flex flex-wrap align-items-center comment-activity">
                                        <a href="javascript:void();">like</a>
                                        <a href="javascript:void();">reply</a>
                                        <a href="javascript:void();">translate</a>
                                        <span> 5 min </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex flex-wrap">
                                <div class="user-img">
                                    <img src="{{ asset('images/user/03.jpg')}}" alt="userimg" class="avatar-35 rounded-circle img-fluid">
                                </div>
                                <div class="comment-data-block ml-3">
                                    <h6>Paul Molive</h6>
                                    <p class="mb-0">Lorem ipsum dolor sit amet</p>
                                    <div class="d-flex flex-wrap align-items-center comment-activity">
                                        <a href="javascript:void();">like</a>
                                        <a href="javascript:void();">reply</a>
                                        <a href="javascript:void();">translate</a>
                                        <span> 5 min </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <form class="comment-text d-flex align-items-center mt-3" action="javascript:void(0);">
                        <input type="text" class="form-control rounded">
                        <div class="comment-attagement d-flex">
                            <a href="javascript:void();"><i class="ri-link mr-3"></i></a>
                            <a href="javascript:void();"><i class="ri-user-smile-line mr-3"></i></a>
                            <a href="javascript:void();"><i class="ri-camera-line mr-3"></i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% elseif poste.categorie == 'Singing' %}
    <div class="col-sm-12">
        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
            <div class="iq-card-body">
                <div class="user-post-data">
                    <div class="d-flex flex-wrap">

                        <div class="media-support-info mt-2">

                            <h5 class="mb-0 d-inline-block"><a href="#" class="">{{ poste.idUser}}</a></h5>
                            <p class="mb-0 d-inline-block">add new post</p>
                            <p class="mb-0 d-inline-block">{{~ poste.nomPost}}</p>
                            <div class="share-block d-flex align-items-center feather-icon mr-3">
                                <a href="javascript:void();"><i class="ri-time-line"></i>

                                    {% set difference =  date().diff(date(poste.postDate)) %}
                                    {% set leftDays = difference.days %}

                                    {% if leftDays >7 %}
                                    <span class="ml-1">{{ poste.postDate ? poste.postDate|date('F d \\a\\t g:i ') : '' }}</span></a>
                                {% elseif leftDays > 1 and leftDays < 7 %}
                                    <span class="ml-1">{{ leftDays }} days ago </span></a>





                                {% endif%}


                            </div>
                        </div>
                        <div class="iq-card-post-toolbar">
                            <div class="dropdown">
                                          <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                          <i class="ri-more-fill"></i>
                                          </span>
                                <div class="dropdown-menu m-0 p-0">
                                    <a class="dropdown-item p-3" href="#">
                                        <div class="d-flex align-items-top">
                                            <div class="icon font-size-20"><i class="ri-save-line"></i></div>
                                            <div class="data ml-2">
                                                <h6>Save Post</h6>
                                                <p class="mb-0">Add this to your saved items</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item p-3" href="#">
                                        <div class="d-flex align-items-top">
                                            <div class="icon font-size-20"><i class="ri-close-circle-line"></i></div>
                                            <div class="data ml-2">
                                                <h6>Hide Post</h6>
                                                <p class="mb-0">See fewer posts like this.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item p-3" href="#">
                                        <div class="d-flex align-items-top">
                                            <div class="icon font-size-20"><i class="ri-user-unfollow-line"></i></div>
                                            <div class="data ml-2">
                                                <h6>Unfollow User</h6>
                                                <p class="mb-0">Stop seeing posts but stay friends.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item p-3" href="#">
                                        <div class="d-flex align-items-top">
                                            <div class="icon font-size-20"><i class="ri-notification-line"></i></div>
                                            <div class="data ml-2">
                                                <h6>Notifications</h6>
                                                <p class="mb-0">Turn on notifications for this post</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <p> <br></p>
                </div>
                <div class="container">
                    <div class="player">


                        <a href="javascript:void();"> <img src="{{ asset('Postes/')~ poste.albumCover ~''}}" alt="album cover" class="player"></a>



                        <div class="like waves-effect waves-light">
                            <i class="icon-heart"></i>
                        </div>
                        <div class="mask"></div>
                        <ul class="player-info info-one">
                            <li>{{ poste.description }}</li>
                            <li>{{ poste.nomPost }}</li>
                            <li>5:34</li>
                        </ul>
                        <ul class="player-info info-two">
                            <li>{{ poste.description }}</li>
                            <li>{{ poste.nomPost }}</li>
                            <li><span id="duration"></span><i> / </i>5:34</li>
                        </ul>
                        <div id="play-button" class="unchecked">
                            <i class="icon icon-play"></i>
                        </div>
                        <div class="control-row">
                            <div class="waves-animation-one"></div>
                            <div class="waves-animation-two"></div>
                            <div id="pause-button">
                                <i class="icon"></i>
                            </div>
                            <div class="seek-field">
                                <input id="audioSeekBar" min="0" max="334" step="1" value="0" type="range" oninput="audioSeekBar()" onchange="this.oninput()">
                            </div>
                            <div class="volume-icon">
                                <i class="icon-volume-up"></i>
                            </div>
                            <div class="volume-field">
                                <input type="range" min="0" max="100" value="100" step="1" oninput="audio.volume = this.value/100" onchange="this.oninput()">
                            </div>
                        </div>
                    </div>
                </div>
                <audio id="audio-player" ontimeupdate="SeekBar()" ondurationchange="CreateSeekBar()" preload="auto" loop>
                    <source src="{{ asset('Postes/')~ poste.file ~''}}" type="audio/mpeg">
                </audio>
                <div class="comment-area mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="like-block position-relative d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="like-data">
                                    <div class="dropdown">
                                                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                <img src="{{ asset('images/icon/01.png')}}" class="img-fluid" alt="">
                                                </span>
                                        <div class="dropdown-menu">
                                            <a class="ml-2 mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like"><img src="{{ asset('images/icon/01.png')}}" class="img-fluid" alt=""></a>
                                            <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Love"><img src="{{ asset('images/icon/02.png')}}" class="img-fluid" alt=""></a>
                                            <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Happy"><img src="{{ asset('images/icon/03.png')}}" class="img-fluid" alt=""></a>
                                            <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="HaHa"><img src="{{ asset('images/icon/04.png')}}" class="img-fluid" alt=""></a>
                                            <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Think"><img src="{{ asset('images/icon/05.png')}}" class="img-fluid" alt=""></a>
                                            <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sade"><img src="{{ asset('images/icon/06.png')}}" class="img-fluid" alt=""></a>
                                            <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Lovely"><img src="{{ asset('images/icon/07.png')}}" class="img-fluid" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="total-like-block ml-2 mr-3">
                                    <div class="dropdown">
                                                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                <p class="mb-0 d-inline-block">{{'' ~ poste.likes}}</p>
                                                </span>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Max Emum</a>
                                            <a class="dropdown-item" href="#">Bill Yerds</a>
                                            <a class="dropdown-item" href="#">Hap E. Birthday</a>
                                            <a class="dropdown-item" href="#">Tara Misu</a>
                                            <a class="dropdown-item" href="#">Midge Itz</a>
                                            <a class="dropdown-item" href="#">Sal Vidge</a>
                                            <a class="dropdown-item" href="#">Other</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="total-comment-block">
                                <div class="dropdown">
                                             <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                             20 Comment
                                             </span>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Max Emum</a>
                                        <a class="dropdown-item" href="#">Bill Yerds</a>
                                        <a class="dropdown-item" href="#">Hap E. Birthday</a>
                                        <a class="dropdown-item" href="#">Tara Misu</a>
                                        <a class="dropdown-item" href="#">Midge Itz</a>
                                        <a class="dropdown-item" href="#">Sal Vidge</a>
                                        <a class="dropdown-item" href="#">Other</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <ul class="post-comments p-0 m-0">
                        <li class="mb-2">
                            <div class="d-flex flex-wrap">
                                <div class="user-img">
                                    <img src="{{ asset('images/user/02.jpg')}}" alt="userimg" class="avatar-35 rounded-circle img-fluid">
                                </div>
                                <div class="comment-data-block ml-3">
                                    <h6>Monty Carlo</h6>
                                    <p class="mb-0">Lorem ipsum dolor sit amet</p>
                                    <div class="d-flex flex-wrap align-items-center comment-activity">
                                        <a href="javascript:void();">like</a>
                                        <a href="javascript:void();">reply</a>
                                        <a href="javascript:void();">translate</a>
                                        <span> 5 min </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex flex-wrap">
                                <div class="user-img">
                                    <img src="{{ asset('images/user/03.jpg')}}" alt="userimg" class="avatar-35 rounded-circle img-fluid">
                                </div>
                                <div class="comment-data-block ml-3">
                                    <h6>Paul Molive</h6>
                                    <p class="mb-0">Lorem ipsum dolor sit amet</p>
                                    <div class="d-flex flex-wrap align-items-center comment-activity">
                                        <a href="javascript:void();">like</a>
                                        <a href="javascript:void();">reply</a>
                                        <a href="javascript:void();">translate</a>
                                        <span> 5 min </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <form class="comment-text d-flex align-items-center mt-3" action="javascript:void(0);">
                        <input type="text" class="form-control rounded">
                        <div class="comment-attagement d-flex">
                            <a href="javascript:void();"><i class="ri-link mr-3"></i></a>
                            <a href="javascript:void();"><i class="ri-user-smile-line mr-3"></i></a>
                            <a href="javascript:void();"><i class="ri-camera-line mr-3"></i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% else %}


    <div class="col-sm-12">
        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
            <div class="iq-card-body">
                <div class="user-post-data">
                    <div class="d-flex flex-wrap">
                        <div class="media-support-user-img mr-3">
                            <img class="rounded-circle img-fluid" src="{{ asset('images/user/01.jpg')}}" alt="">
                        </div>
                        <div class="media-support-info mt-2">

                            <h5 class="mb-0 d-inline-block"><a href="#" class="">{{ poste.idUser}}</a></h5>
                            <p class="mb-0 d-inline-block">add new post</p>
                            <p class="mb-0 d-inline-block">{{~ poste.nomPost}}</p>
                            <div class="share-block d-flex align-items-center feather-icon mr-3">
                                <a href="javascript:void();"><i class="ri-time-line"></i>

                                    {% set difference =  date().diff(date(poste.postDate)) %}
                                    {% set leftDays = difference.days %}

                                    {% if leftDays >7 %}
                                    <span class="ml-1">{{ poste.postDate ? poste.postDate|date('F d \\a\\t g:i ') : '' }}</span></a>
                                {% elseif leftDays > 1 and leftDays < 7 %}
                                    <span class="ml-1">{{ leftDays }} days ago </span></a>




                                {% endif%}


                            </div>
                        </div>

                        <div class="iq-card-post-toolbar">
                            <div class="dropdown">
                                          <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                          <i class="ri-more-fill"></i>
                                          </span>
                                <div class="dropdown-menu m-0 p-0">
                                    <a class="dropdown-item p-3" href="#">
                                        <div class="d-flex align-items-top">
                                            <div class="icon font-size-20"><i class="ri-save-line"></i></div>
                                            <div class="data ml-2">
                                                <h6>Save Post</h6>
                                                <p class="mb-0">Add this to your saved items</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item p-3" href="#">
                                        <div class="d-flex align-items-top">
                                            <div class="icon font-size-20"><i class="ri-close-circle-line"></i></div>
                                            <div class="data ml-2">
                                                <h6>Hide Post</h6>
                                                <p class="mb-0">See fewer posts like this.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item p-3" href="#">
                                        <div class="d-flex align-items-top">
                                            <div class="icon font-size-20"><i class="ri-user-unfollow-line"></i></div>
                                            <div class="data ml-2">
                                                <h6>Unfollow User</h6>
                                                <p class="mb-0">Stop seeing posts but stay friends.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item p-3" href="#">
                                        <div class="d-flex align-items-top">
                                            <div class="icon font-size-20"><i class="ri-notification-line"></i></div>
                                            <div class="data ml-2">
                                                <h6>Notifications</h6>
                                                <p class="mb-0">Turn on notifications for this post</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <p>{{ poste.description }}</p>

                <div id="videoContainer">

                    <div class="overlay">
                        <div class="button"></div>
                    </div>

                    <div id="video">

                        <video src="{{ asset('Postes/')~ poste.file ~''}}"  class="img-fluid rounded w-100">>
                        </video>
                    </div>

                    <div id="controls">
                        <div class="playButton">
                            <div class="playPause"></div>
                        </div>

                        <div class="ProgressContainer">
                            <div class="timer intialTime">
                                00:00
                            </div>
                            <div class="progressBar">
                                <div class="progress"></div>
                            </div>
                            <div class="time">
                                00:00
                            </div>
                            <div class="timer fullTime">
                                00:00
                            </div>
                        </div>

                        <div class="volume">
                            <div class="icon"></div>

                            <div class="intensityBar">
                                <div class="intensity"></div>
                            </div>
                        </div>

                        <div class="scale">
                            <div class="icon"></div>
                        </div>
                    </div>

                </div>











                <div class="comment-area mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="like-block position-relative d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="like-data">
                                    <div class="dropdown">
                                                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                <img src="{{ asset('images/icon/01.png')}}" class="img-fluid" alt="">
                                                </span>
                                        <div class="dropdown-menu">
                                            <a class="ml-2 mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like"><img src="{{ asset('images/icon/01.png')}}" class="img-fluid" alt=""></a>
                                            <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Love"><img src="{{ asset('images/icon/02.png')}}" class="img-fluid" alt=""></a>
                                            <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Happy"><img src="{{ asset('images/icon/03.png')}}" class="img-fluid" alt=""></a>
                                            <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="HaHa"><img src="{{ asset('images/icon/04.png')}}" class="img-fluid" alt=""></a>
                                            <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Think"><img src="{{ asset('images/icon/05.png')}}" class="img-fluid" alt=""></a>
                                            <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sade"><img src="{{ asset('images/icon/06.png')}}" class="img-fluid" alt=""></a>
                                            <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Lovely"><img src="{{ asset('images/icon/07.png')}}" class="img-fluid" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="total-like-block ml-2 mr-3">
                                    <div class="dropdown">
                                                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                <p class="mb-0 d-inline-block">{{'' ~ poste.likes}}</p>
                                                </span>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Max Emum</a>
                                            <a class="dropdown-item" href="#">Bill Yerds</a>
                                            <a class="dropdown-item" href="#">Hap E. Birthday</a>
                                            <a class="dropdown-item" href="#">Tara Misu</a>
                                            <a class="dropdown-item" href="#">Midge Itz</a>
                                            <a class="dropdown-item" href="#">Sal Vidge</a>
                                            <a class="dropdown-item" href="#">Other</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="total-comment-block">
                                <div class="dropdown">
                                             <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                             20 Comment
                                             </span>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Max Emum</a>
                                        <a class="dropdown-item" href="#">Bill Yerds</a>
                                        <a class="dropdown-item" href="#">Hap E. Birthday</a>
                                        <a class="dropdown-item" href="#">Tara Misu</a>
                                        <a class="dropdown-item" href="#">Midge Itz</a>
                                        <a class="dropdown-item" href="#">Sal Vidge</a>
                                        <a class="dropdown-item" href="#">Other</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="share-block d-flex align-items-center feather-icon mr-3">
                            <a href="javascript:void();"><i class="ri-share-line"></i>
                                <span class="ml-1">99 Share</span></a>
                        </div>
                    </div>
                    <hr>
                    <ul class="post-comments p-0 m-0">
                        <li class="mb-2">
                            <div class="d-flex flex-wrap">
                                <div class="user-img">
                                    <img src="{{ asset('images/user/02.jpg')}}" alt="userimg" class="avatar-35 rounded-circle img-fluid">
                                </div>
                                <div class="comment-data-block ml-3">
                                    <h6>Monty Carlo</h6>
                                    <p class="mb-0">Lorem ipsum dolor sit amet</p>
                                    <div class="d-flex flex-wrap align-items-center comment-activity">
                                        <a href="javascript:void();">like</a>
                                        <a href="javascript:void();">reply</a>
                                        <a href="javascript:void();">translate</a>
                                        <span> 5 min </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex flex-wrap">
                                <div class="user-img">
                                    <img src="{{ asset('images/user/03.jpg')}}" alt="userimg" class="avatar-35 rounded-circle img-fluid">
                                </div>
                                <div class="comment-data-block ml-3">
                                    <h6>Paul Molive</h6>
                                    <p class="mb-0">Lorem ipsum dolor sit amet</p>
                                    <div class="d-flex flex-wrap align-items-center comment-activity">
                                        <a href="javascript:void();">like</a>
                                        <a href="javascript:void();">reply</a>
                                        <a href="javascript:void();">translate</a>
                                        <span> 5 min </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <form class="comment-text d-flex align-items-center mt-3" action="javascript:void(0);">
                        <input type="text" class="form-control rounded">
                        <div class="comment-attagement d-flex">
                            <a href="javascript:void();"><i class="ri-link mr-3"></i></a>
                            <a href="javascript:void();"><i class="ri-user-smile-line mr-3"></i></a>
                            <a href="javascript:void();"><i class="ri-camera-line mr-3"></i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




{% endif %}

    <a href="{{ path('postes_back_index') }}">back to list</a>

    <a href="{{ path('postes_back_edit', {'idPost': poste.idPost}) }}">edit</a>

    {{ include('postes/back_delete_form.html.twig') }}
{% endblock %}
