{% extends 'back.html.twig' %}

{% block title %}Postes index{% endblock %}


{% block content %}
    <!-- Page Content  -->




    <h1>POSTES</h1>

    <div class="dropdown">

                                 <span style="position: absolute; top: -20px; left: 1200px; " class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false" role="button">
                                   Sort By
                                     <i class="ri-more-fill"></i>

                                 </span>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="">
            <a class="dropdown-item" href="{{ path('postes_back_triDate') }}"><i class="ri-eye-fill mr-2"></i>Newest</a>
            <a class="dropdown-item" href="{{ path('postes_back_triTrending') }}"><i class="ri-eye-fill mr-2"></i>Most liked</a>

        </div>
    </div>


    <table   id ="tableac"  cellspacing="0" cellpadding="0" border="0" width="1200" ">
    <thead>

    <input  type="text" id="search" name="search" class="form-control" placeholder="Search..">

    <tr>
        <th>Id Post</th>
        <th>User</th>
        <th>Post name</th>

        <th>Poste Descreption</th>

            <th>Sentiment analysis</th>
        <th>Likes</th>
        <th>Categorie</th>
        <th>Date</th>

        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for post in postes %}

        <tr>
            <td>{{ post.idPost }}</td>
            <td>{{ post.idUser }}</td>


            <td>{{ post.nomPost }}</td>

            <td>{{ post.description}}</td>

            <td>{{ post.descAnalys }}</td>
            <td>{{ post.likes }}</td>
            <td>{{ post.categorie }}</td>
            <td>{{  post.postDate ? post.postDate|date('F d \\a\\t g:i ') : '' }}</td>


            <td>
                <ul class="d-flex align-items-center justify-content-between list-inline m-auto p-0">

                    <button type=“button” class="button-show"><a href="{{ path('postes_back_show', {'idPost': post.idPost}) }}">Show</a></button>
                    <button type=“button” class="button-edit"><a href="{{ path('postes_back_edit', {'idPost': post.idPost}) }}">Edit</a></button>
                    <form method="post" action="{{ path('postes_back_delete', {'idPost': post.idPost}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.idPost) }}">
                        <button type=“button” class="button-show" >Delete</button>
                    </form>

                </ul>

            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="10">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <button type=“button” class="button-create"><a href="{{ path('evenement_back_new') }}">Create new</a></button>

    <style>

        .button-create {
            display: inline-block;
            padding: 5px 7px;
            cursor: pointer;
            border-radius: 5px;
            background-color: #fff3cd;
            font-size: 16px;
            font-weight: bold;
            color: red;
        }
        .button-show {
            display: inline-block;
            padding: 5px 7px;
            cursor: pointer;
            border-radius: 5px;
            background-color: #d3e0ea;
            font-size: 16px;
            font-weight: bold;
            color: red;
        }
        .button-edit {
            display: inline-block;
            padding: 5px 7px;
            cursor: pointer;
            border-radius: 5px;
            background-color: #fde8cd;
            font-size: 16px;
            font-weight: bold;
            color: red;
        }

    </style>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#tableac tbody tr').each(function(){
                    var found = 'false';
                    $(this).each(function(){
                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                        {
                            found = 'true';
                        }
                    });
                    if(found === 'true')
                    {
                        $(this).show();

                    }
                    else
                    {
                        $(this).hide();

                    }
                });
            }
        });
    </script>



































{% endblock %}
