{% extends 'base.html.twig' %}

{% block title %}Interactions{% endblock %}

{% block body %}
{% block content %}
    <h1>Interactions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdInter</th>
                <td>{{ interaction.idInter }}</td>
            </tr>
            <tr>
                <th>LikeCheck</th>
                <td>{{ interaction.likeCheck }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('interactions_index') }}">back to list</a>

    <a href="{{ path('interactions_edit', {'idInter': interaction.idInter}) }}">edit</a>

    {{ include('interactions/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}
