{% extends 'back.html.twig' %}

{% block title %}Reports{% endblock %}


{% block content %}
    <h1>Reports</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdSignal</th>
                <td>{{ signalisation.idSignal }}</td>
            </tr>
            <tr>
                <th>ContenuSignal</th>
                <td>{{ signalisation.contenuSignal }}</td>
            </tr>
            <tr>
                <th>TypeSignal</th>
                <td>{{ signalisation.typeSignal }}</td>
            </tr>
            <tr>
                <th>EtatSignal</th>
                <td>{{ signalisation.etatSignal }}</td>
            </tr>
            <tr>
                <th>DateSignal</th>
                <td>{{ signalisation.dateSignal ? signalisation.dateSignal|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('signalisation_back_index') }}">back to list</a>

    <a href="{{ path('signalisation_back_edit', {'idSignal': signalisation.idSignal}) }}">edit</a>

    {{ include('signalisation/back_delete_form.html.twig') }}
{% endblock %}
