{% extends 'base.html.twig' %}

{% block title %}Signalisation{% endblock %}

{% block body %}
{% block content %}
    <h1>Signalisation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdSignal</th>
                <td>{{ signalisation.idSignal }}</td>
            </tr>
            <tr>
                <th>ContenuSignal</th>
                <td>{{ signalisation.contenuSignal }}</td>
            </tr>
            <tr>
                <th>TypeSignal</th>
                <td>{{ signalisation.typeSignal }}</td>
            </tr>
            <tr>
                <th>EtatSignal</th>
                <td>{{ signalisation.etatSignal }}</td>
            </tr>
            <tr>
                <th>DateSignal</th>
                <td>{{ signalisation.dateSignal ? signalisation.dateSignal|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('signalisation_index') }}">back to list</a>

    <a href="{{ path('signalisation_edit', {'idSignal': signalisation.idSignal}) }}">edit</a>

    {{ include('signalisation/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}
