{% extends 'back.html.twig' %}

{% block title %}Categorie index{% endblock %}


    {% block content %}
        <h1>Categories</h1>
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
            <button onclick="window.location.href='{{ path('categorie_back_suggestion')}}'" type="button" class="btn btn-primary">Suggestion list</button>
            <button onclick="window.location.href='{{ path('categorie_back_index')}}'" type="button" class="btn btn-primary">Categories list</button>
            <button  onclick="window.location.href='{{ path('categorie_back_new')}}'" type="button" class="btn btn-primary">Add New</button>
        </div>
        <div id="content-page" class="content-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="iq-card" >
                            <div class="iq-card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Show Categories</h4>
                                </div>
                            </div>
                            <div class="iq-card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Categorie</th>
                                        <th>Image</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for categorie in categories %}
                                        <tr>
                                            <td>{{ categorie.categorieName }}</td>

                                            <td>
                                                <div class="container1">
                                                    <img src="{{ asset('imagesCategorie/')~ categorie.categorieImage ~''}}" class="image1"  overflow="visible" alt="{{categorie.categorieName}}">
                                                    <div class="overlay1">
                                                        <div >{{ categorie.categorieName }}</div>
                                                    </div>
                                                </div>

                                           </td>

                                            <td>
                                                <form id="AcceptForm" class="comment-text d-flex align-items-center mt-3" method="post" action="{{ path('categorie_back_accept')}}">
                                                    <button type="submit" form="AcceptForm" class="btn btn-primary">Accept</button>
                                                    <input  type="hidden" name="AcceptedCat" id="myCat" type="text" value={{ categorie.categorieName }}>
                                                </form>
                                                <form id="RefuseForm" class="comment-text d-flex align-items-center mt-3" method="post" action="{{ path('categorie_back_refuse')}}">
                                                    <button type="submit" form="RefuseForm" class="btn btn-primary">Decline</button>
                                                    <input  type="hidden" name="RefusedCat" id="myCat" type="text" value={{ categorie.categorieName }}>
                                                </form>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="2">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <a href="{{ path('categorie_back_new') }}">Create new</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
   
    <h1>Categories</h1>


    {% endblock %}
