{% extends 'back.html.twig' %}

{% block title %}New Categorie{% endblock %}


   {% block content %}
       <h1>New Categorie</h1>
       <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
           <button onclick="window.location.href='{{ path('categorie_back_suggestion')}}'" type="button" class="btn btn-primary">Suggestion list</button>
           <button onclick="window.location.href='{{ path('categorie_back_index')}}'" type="button" class="btn btn-primary">Categories list</button>
           <button  onclick="window.location.href='{{ path('categorie_back_new')}}'" type="button" class="btn btn-primary">Add New</button>
       </div>
       <div id="content-page" class="content-page">
           <div class="container">
               <div class="row">
                   <div class="col-lg-auto">
                       <div class="iq-card" >
                           <div class="iq-card-header d-flex justify-content-between">
                               <div class="iq-header-title">


                                {{ include('categorie/_form.html.twig') }}

                                   <a href="{{ path('categorie_back_index') }}">back to list</a>

                               </div>
                           </div>
                           <div class="iq-card-body">

                           </div>
                       </div>
                   </div>

               </div>
           </div>
       </div>
       </div>


   {% endblock %}
