{% extends 'base.html.twig' %}

{% block title %}CommentEvent index{% endblock %}

{% block body %}
{% block content %}
    <h1>CommentEvent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Commentdate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment_event in comment_events %}
            <tr>
                <td>{{ comment_event.id }}</td>
                <td>{{ comment_event.content }}</td>
                <td>{{ comment_event.commentdate ? comment_event.commentdate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('comment_event_show', {'id': comment_event.id}) }}">show</a>
                    <a href="{{ path('comment_event_edit', {'id': comment_event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comment_event_new') }}">Create new</a>
{% endblock %}
{% endblock %}
