{% extends 'base.html.twig' %}

{% block title %}CommentEvent{% endblock %}

{% block body %}
{% block content %}
    <h1>CommentEvent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment_event.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ comment_event.content }}</td>
            </tr>
            <tr>
                <th>Commentdate</th>
                <td>{{ comment_event.commentdate ? comment_event.commentdate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comment_event_index') }}">back to list</a>

    <a href="{{ path('comment_event_edit', {'id': comment_event.id}) }}">edit</a>

    {{ include('comment_event/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}
