{% extends 'base.html.twig' %}

{% block title %}Feedback{% endblock %}

{% block body %}
{% block content %}
    <h1>Feedback</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdFeedback</th>
                <td>{{ feedback.idFeedback }}</td>
            </tr>
            <tr>
                <th>ContenuFeedback</th>
                <td>{{ feedback.contenuFeedback }}</td>
            </tr>
            <tr>
                <th>TypeFeedback</th>
                <td>{{ feedback.typeFeedback }}</td>
            </tr>
            <tr>
                <th>EtatFeedback</th>
                <td>{{ feedback.etatFeedback }}</td>
            </tr>
            <tr>
                <th>DateFeedback</th>
                <td>{{ feedback.dateFeedback ? feedback.dateFeedback|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('feedback_index') }}">back to list</a>

    <a href="{{ path('feedback_edit', {'idFeedback': feedback.idFeedback}) }}">edit</a>

    {{ include('feedback/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}
